

p {
    color:blue;
    text-align: right;
}

h1 {
    color: brown;
}

h2 {
    color: blueviolet;
}

h3 {
    color: blanchedalmond;
}

h4 {
    color: black;
}

h5 {
    color: bisque;
}

h6 {
    color: beige;
}

#titolo {color: blue;}

.center{color: brown;
        font-size: 30px;
}

p.testobianco.grassetto{color: antiquewhite; font-weight: bold;}

*{
    text-align: center;
    color: blue;
}

h2,h3,h4 {
    text-align: center;
    color: brown;
}

a.bianco:link{
    color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
}
a.bianco:hover{
    color: blue;
}
.lista li:last-child{
    content: "leggende";
    color: blue;
}

#myid{
    background-color: blue;
}
.myclass{
    background-color: blueviolet;
}
p{
    background-color: brown !important;
}
.miaclasse{
    text-align: center;
    color: blue;
}
p{
    color:rgb(255,0,0);
}
p{
    color: #ff0000;
}